*, *::after, *::before {
	box-sizing: border-box;
}


/*Item Listings--------------->/*

/*Isabel*/
.item-listing-box{
	margin-top: 2em;
	display: -webkit-flex;
	display: -ms-flex;
	display: flex;

	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;

	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	
	align-items: center;
  	justify-content: flex-start;
}

/*Isabel*/
.item-listing-unit{
	position: relative;
	margin-bottom: 2em;
	margin-right: 1.2em;
}
/*Isabel*/

.item-listing-unit img{
	-webkit-transition: all 0.2s ease-out;
  	transition: all 0.2s ease-out;
}

/*Isabel*/
.item-listing-unit img:hover, .item-listing-unit img:focus{
	opacity: 0.75;
}


@media only screen and (max-width: 70em) {

	.item-listing-box{
		justify-content: center;
	}
}

@media only screen and (max-width: 40em) {

	.item-listing-unit{
		margin-right: 0;
	}

}



