[class^='grid-col-'] {
	float: left;
	padding: 0;
	text-align: center;
}

/*used as a default/framing container for all the content except for the top menu*/
/*should be applied to each section on the page*/
/*daria*/
.main-container {
	padding: 2em 1em 1em 3em;
}

/*news grid*/
/*daria*/
.cropped-container {
  margin-left: 9%;
  margin-right: 8%;
  padding-left: 1em;
  padding-right: 1em;
}

/*daria*/
.cropped-container-main {
  margin-left: 9%;
  margin-right: 9%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}

.cropped-container-modified {
  margin-left: 9%;
  margin-right: 5%;
  padding-left: 1em;
  padding-right: 1em;
  padding-top: 1em;
}


/*daria*/
/*used for main cetegories grid*/
.grid-col-1of2 {
	width:50%;
	padding-right: 1em;
	padding-bottom: .7em;
	position: relative;
}

/*daria*/
/*used for news grid*/
.grid-col-1of3 {
	width:33%;
	background: white;
	padding-right: 1em;
	position: relative;
	padding-bottom: .7em;
}

/*daria*/
.separation-container {
	margin-left: 30%;
	margin-right: 30%;
	padding-bottom: 1em;
}

/*daria*/
.grid-col-1of2-separator {
	width:50%;
	position: relative;

}

/*Isabel*/
.grid-col-1of4 {
	width: 20%;
	background: white;
	margin-bottom: 0;
	margin-right: 1em;
	text-align: left;
	float: left;
}
/*Isabel*/
.grid-col-3of4 {
	width:78%;
	background: white;
	margin-bottom: 1em;
	margin-left: 0.2em;
	text-align: left;
	float: right;
}

/*daria*/
.grid-col-1of1-image {
	width: 99%;
	margin-top: 1em;
	margin-bottom: 1em;
}

/*daria*/
.grid-col-cart {
	width: 69%;
	float: left;
}

/*daria*/
.grid-col-checkout {
	width: 28%;
	float: right;
	padding-left: 2em;
	padding-bottom: 2em;
}


.grid-col-1-3 {
	margin-top: 1.5em;
	margin-left: 2.5em;
    width: 25%;
 }

 .grid-col-1-3-checkout{
 	float: right;
 	padding-left: 2.5em;
	margin-top: 1.5em;
	margin-right: 10em;
    width: 25%;
    border-left: solid 1px black;
    text-align: left;
    padding-bottom: 10em;
 }

 .grid-col-2-3 {
 	text-align: left;
 	margin-top: 1.5em;
 	margin-left: 2em;
    width: 40%;
 }

 .grid-col-2-3-cart {
 	text-align: left;
 	margin-top: 1.5em;
 	margin-left: 2em;
    width: 59%;
 }

 .grid-col-2-3-cart img{
 	float: left;
 	margin-right: 2em;
 }


.grid-cart-text{
	float: left;
	width: 20%;
	padding-right: 3em;
}

.grid-cart-summary-text{
	float: left;
	width: 20%;
	padding-right: 8em;
}

/*daria*/
.grid-row:after {
	content: "";
	display: block;
	clear:both;

}

@media only screen and (max-width: 66em) {
	/*main grid*/
	.grid-row {
		margin-left: 12%;
		margin-right: 12%;
	}

	/*
	.grid-col-cart {
		width: 100%;

	}

	.grid-col-checkout {
		width: 100%;
		padding-left: 0;
	}*/

	/*the 3 column grid breakpoints*/
	/*daria*/
	.grid-col-1of3 {
		width: 100%;
		float: center;
		padding-right: 0;
	}

	/*daria*/
	article.grid-col-1of3 {
		padding-bottom: 2em;
	}

	/*daria*/
	/*main page structure*/
	.grid-col-1of2 {
		width: 100%;
		margin-right: 0;
		padding-right: 0;
	}

	/*fising breakpoints for the contact table*/
	/*daria*/
	.form-feedback {
		width: 100%;
		margin-right: 0;
	}

	td.title {
		padding-left: 0;
	}

	.contact-table {
		margin-left: 0;
	}

	.grid-col-cart {
		width: 100%;
	}

	.grid-col-checkout {
		width: 50%;
		padding-left: 0;
		float: left;
	}

	.checkout-title {
		text-align: left;
		padding-bottom: 1em;
	}

	/*Product Listing Breakpoints*/
	.grid-col-1of4 {
	width: 100%;
	background: white;
	margin-bottom: 0;
	margin-left: 0.6em;
	margin-right: 1em;
	text-align: left;
}
/*Isabel*/
.grid-col-3of4 {
	width:100%;
	background: white;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
}

}


@media only screen and (max-width: 77em) {
	.grid-col-1of4{
		margin-left: 6.5em;
		margin-right: 0;
		width: 90%;
	}

	.grid-col-3of4 {
	width:90%;
	background: white;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	}

}

@media only screen and (max-width: 35em) {

	.grid-col-1of4{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.grid-col-3of4 {
	width:100%;
	background: white;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	text-align: left;
	}
	/*main grid*/
	/*daria*/
	.grid-row {
		margin-left: 5%;
		margin-right: 5%;
	}

}


@media only screen and (max-width: 52em) {

	/*united nav bar*/
	/*daria*/
	.united-nav {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.main-nav {
		padding-left: 0;
	}

	}


@media only screen and (max-width: 47em) {

	.grid-col-1of4{
		margin-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.grid-col-3of4 {
	width:100%;
	background: white;
	margin-bottom: 1em;
	margin-left: 0;
	margin-right: 0;
	padding-right: 0;
	text-align: left;
	}

	/*united nav bar*/
	/*daria*/
	.united-nav {
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
	}

	.main-nav {
		position: static;
		padding-left: 0;
	}


}



@media only screen and (max-width: 45em) {
	.grid-col-1of4{
		margin-left: 0;
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}
	
	.grid-col-3of4{
		margin-left: 0;
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}

	#product-listing img{
		margin-bottom: 0.5em;
	}


	.cropped-container {
		margin-left: 4%;
		margin-right: 4%;
	}

	.item-listing-box{
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
  	margin-right: 0;
  	padding-right: 0;
	}
}


@media only screen and (max-width: 38em) {

	.grid-col-1of4{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		padding-right: 0;
		margin-bottom: 1em;
		margin-top: 0;
		width: 100%;
	}

	.grid-col-3of4{
		margin-left: 0;
		margin-right: 0;
		padding-left: 0;
		width: 100%;
	}

	/*main grid*/
	/*daria*/
	.grid-row {
		margin-left: 1%;
		margin-right: 1%;
	}

	.about-company-bit {
		padding-right: 0;
	}


	.form-contact {
		width: 100%;
		padding-right: 0;
	}


	.grid-col-checkout {
		width: 100%;
	}

	.edit-button {
		display: none;
	}

	.item-listing-box{
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
  	margin-right: 0;
  	padding-right: 0;
  }


	.united-nav {
		align-items: flex-start; 
	}


	.main-nav {
		padding-bottom: 0;
	}

	.secondary-nav {
		margin-top: 0;
	}


	.menu-button {
		display: block;
		padding: 1em;
		margin: 0;
		padding-left: 2em;
	}


	.icon-button {
		padding: .9em;
	}



}



@media only screen and (max-width: 35em) {

	.grid-col-1of4{
		margin-left: 0;
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}

	.grid-col-3of4{
		margin-left: 0;
		padding-left: 0;
		margin-right: 0;
		width: 100%;
	}

	#product-listing img{
		margin-bottom: 0.5em;
	}
	#product-listing h3{
		clear: left;
	}


		/*daria*/
	.cropped-container-main {
	  padding-left: 1em;
	  padding-right: 1em;
	  padding-top: 1em;
	}


	.news-and-events {
		padding-top: 2em;
	}


	.about-company {
		padding-top: 2em;
		padding-bottom: 2em;
	}

	.grid-col-checkout {
		width: 100%;
	}

}

@media only screen and (max-width: 30em) {
	.cropped-container-main {
	  padding-left: 0.5em;
	  padding-right: 0.5em;
	  padding-top: 0.5em;
	}
}


















