[class^='grid-col-'] {
	float: left;
	padding: 0;
	text-align: center;

}

.grid-col-2of10 {
	width:100%;
	background: white;
	margin-right: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-align: left;
}

.grid-col-1of5 {
	width:100%;
	background: white;
	margin-right: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-align: left;
}

.grid-col-1of4 {
	width:20%;
	background: white;
	margin-right: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-align: left;
}

.grid-col-3of4 {
	width:70%;
	background: white;
	margin-right: 2em;
	margin-bottom: 1em;
	margin-left: 2em;
	text-align: left;
}

.grid-row:after {
	content: "";
	display: block;
	clear:both;

}

@media (min-width: 30em) {
	.grid-col-2of10 {
		width: 44%;
	}

	.grid-col-1of5 {
		width: 21%;
	}

	.grid-col-1of4 {
		width: 10%;
	}

	.grid-col-3of4 {
		width: 70%;
	}

}