/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Open Sans", sans-serif;
}


footer {
  padding: 1em;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

section.main-page {
  padding-top: 1em;
} 

section.main-page-full-bleed {
  padding-top: 1em;
  } 

section.section-image {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  } 

section.section-image img {
  max-width: 100%;
} 


.style-guide{
  text-align: center;
  padding: 0.25rem 0.5em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}


p {
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 1.6em;
}


h1{
  font-size: 2.3em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1.2em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

em{
  font-size: 1em;
  color: black;
}

.white-text {
  color: white;
}
/*
a{
  margin-bottom: 0.8em;
}
*/

.centered-element{
  text-align: center;
}


/*table properties*/
table, td, th {
  border-bottom: 0.5px dashed grey;

}

table {
    border-collapse: collapse;
    border-right: 0.5px solid grey; 

}

th {
  font-size: 0.7em;
  color: grey;
  text-align: left;
  letter-spacing: 1px;
  padding: 1em;
}

th.action-button-left {
  padding-right: 0.2em;
  padding-left: 0.2em;
  font-size: 1em;
  text-align: left;
  width: 4em;
}

th.action-button-right {
  padding-right: 0.2em;
  padding-left: 0.2em;
  font-size: 1em;
  text-align: right;
  width: 5em;
}


td {
  font-size: 1em;
  padding: 0.6em;
  vertical-align: top;
  text-align: left;
}


.full-table{
  width: 80%;
  margin-bottom: 3em;
}


.contact-table {
  padding-top: 2em;
  border-collapse: collapse;
  border: none;
}

td.title {
  border: none;
  padding-bottom: 1.5em;
  font-size: 0.9em;
  opacity: 0.8;
}

td.data {
  border: none;
  padding-bottom: 1.5em;
  font-size: 0.9em;

}


.contact-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 0.4em;
  padding-bottom: 2em;
}


.reduced-table{
  width: 70%;
  margin-bottom: 3em;
}

/*cart table*/

.cart-image {
  width: 100%;
}

.cart-header {
  width: 100%;
  margin-bottom: 3em;
}


.cart-price {
  font-size: 1em;
  font-weight: bold;
}

.table-button-left {
  padding-top:0;
  padding-bottom: 1em;
  text-align: left;
}

.filter-header{
  font-size: 1.6em;
  margin-top: 1em;
  margin-right: 3em;
  padding-bottom: 0em;
}

.table-button-right {
  padding-top:0;
  padding-bottom: 1em;
  text-align: right;
}

/*checkout table*/
.checkout-header {
  width: 100%;
  border-bottom: 1px solid transparent;
  border-right: 0.5px solid transparent; 

}

.checkout-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 0.4em;
  padding-bottom: 2em;
}


.checkout-line {
  font-size: 0.7em;
  color: grey;
  text-align: left;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  border-right: 0.5px solid transparent;
}

.right-alignment {
  float: right;
}


.checkout-price {
  font-size: 0.7em;
  color: black;
  text-align: left;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  padding-bottom: 2em;
}

.item-name{
  margin-top: 0.7em;
  line-height: 0.5em;
  font-size: 1em;
  margin-bottom: 1.1em;
}

.price-number{
  line-height: 0.4em;
  font-size: 0.9em;
  margin-bottom: 1em;
  color: rgb(127,42,121);
}

.latin-name{
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 0.85em;
  color: #666666;
}


#product-listing{
  float: left;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

.product-image{
  float: left;
  margin-left: 0;
  margin-right: 2em;
  margin-bottom: 0;
}

.margin-left{
  margin-left: 0.5em;
}

/* 
  INTERACTIVE ELEMENTS -------------------
*/

/* Styling for the navigation button */
.button-nav {
  display: inline-block;
  font-size: 0.8em;
  background-color: white;
  letter-spacing: 1px;
  color: rgb(76, 73, 87);
  padding: 0 0.5em 0 0.5em;
  margin-right: 1em;
  border-bottom: 3px solid white;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*orange underline appears*/
.button-nav:hover, .button-nav:focus {
  border-bottom: 3px solid rgb(255, 192, 51);
  border-radius: 3px;
}

.button-nav-selected{
  padding-top: 0em;
  color: black;
  font-weight: bold;

  border-bottom: 3px solid rgb(255, 192, 51);
  border-radius: 3px;
}

.filter-nav {
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 0.8em;
}


.filter-nav-first{
  padding-left: 0;
  margin-top: 0.3em;
  padding-top: 0em;
}

.filter-nav .button-nav{
  margin-top: 0.8em;
}

.filter-nav ul{
  padding-top: 0;
  margin-bottom: 0.3em;
}

.filter-nav li{
  padding-top:0;
  margin-bottom:0.3em;
}

/*edit button*/
.edit-button {
  color: grey;
  font-size: 0.7em;
  letter-spacing: 1px;
}

.checkout-nav-button {
  font-size: 1.2em;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  margin-top: 1em;
}

.active {
  color: black;
  font-weight: bold;
  border-bottom: 3px solid rgb(255, 192, 51);
  border-radius: 3px;
}


.button-nav-add-to-cart{
  margin-top: 1.1em;
}

/*in-text link*/
.in-text-link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 192, 51);
}

.in-text-link:hover, .in-text-link:focus{
  font-weight: bold;
}


/*submit button*/
.button-submit {
  display: inline-block;
  border: 2px solid rgb(76, 73, 87);
  background-color: white;
  color: rgb(76, 73, 87);
  padding: 0.25rem 1em;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}

/*changing the border radius on hover*/
.button-submit:hover, .button-submit:focus {
  border-radius: 15px;
}

/*checkout button*/
.button-checkout{
  display: block;
  border: 2px solid rgb(127,42,121);
  background-color: rgb(127,42,121);
  color: white;
  padding: 0.25rem 1em;
  max-width: 100%;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;


}

/*changing the border radius on hover*/
.button-checkout:hover, .button-checkout:focus {
  border-radius: 15px;
}

/*alternative submit button*/
.button-submit-alt {
  display: inline-block;
  font-weight: normal;
  border: 2px solid white;
  background-color: rgb(127,42,121);
  color: white;
  padding: 0.25rem 1em;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

.button-submit-alt:hover, .button-submit:focus {
  border-radius: 15px;

}

/*clickable icon*/
.icon-button {
  height: auto;
  width: auto;
  background-color: rgb(127,42,121);
  padding-right: 0.2em;
  padding-top: .2em;
  padding-left: .2em;
  padding-bottom: .2em;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}


.icon-button:hover, .icon-button:focus {
  padding-top: .1em;
  padding-left: .1em;
  padding-bottom: .1em;
}

.icon-resize {
  height: 2em;
  width: auto;
}



/*intro element*/

.intro {
  width: 20%;
  padding-top: 2em;
  margin-left: auto;
  margin-right: auto;
}

.logo {
  width: 35%;
  float: left;
}

.tagline {
  color: rgb(127,42,121);
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 4.8em;
  line-height: 1.2em;
  vertical-align: top;
  font-weight: bold;


}

.intro:after {
  content: "";
  display: block;
  clear:both;
}


/*labels and inputs*/
.form-label-field-basic {
  color: transparent;
  left: -99999px;
  position: absolute;
}

.form-input-field-basic {
  border-radius: 20px;
  border: 1px solid rgb(76, 73, 87);
  font-size: 0.9em;
  padding: 0.3em 0 0.3em 0.7em;
  margin-top: 1em;
  width: 100%;
  margin-bottom: 1em;
}


.form-label-field-full {
  font-size: 0.4em;
  padding-right: .2em;
  padding-bottom: .2em;
}

.form-input-field-full {
  border: 1px solid rgb(76, 73, 87);
  font-size: 0.9em;
  padding: 0.3em 0 0.3em 0.7em;
  width: 100%;
  margin-bottom: 1em;
}


.form-input-field-extended {
  border: 1px solid rgb(76, 73, 87);
  font-size: 0.9em;
  margin-bottom: 1em;
  padding: 0.3em 0 0.3em 0.5em;
  width: 100%;
  height: 7em;
  text-align: left;
  vertical-align: text-top;
  cursor: auto;
}

textarea {
    border: 1px solid rgb(76, 73, 87);
}

.form-input-quantity{
  margin: 0;
  float: left;
  margin-right: 2em;
  padding: 0;
}

.form-input-quantity input{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 0.9em;
  margin-top: 1em;

}

.form-input-quantity label{
  font-size: 0.9em;
  margin-right: 0.25em;
}

.border-top{
  border-top: solid 1px black;
}

.review{
  border-bottom: dotted 1px black;
}

#reviews h2{
  margin-bottom: 1em;
}

#reviews h3{
  color: rgb(127,42,121);
}

#reviews p{
  margin-bottom: 2em;
}

.grid-col-3of4-product-view a{
  font-size: 0.8em;
}

.grid-col-3of4-product-view h3{
  margin-bottom:0;
}


/*figure out autofill backround colour

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: black;
    letter-spacing: 1px;
}
*/


/*image category links*/
a.category {
  text-decoration: none;
}

.relative-positioning{
  position: relative;
}

.category-image {
  width: 100%;
  opacity: 0.7;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;

}

.category-image:hover, .category-image:active {
  opacity: 1;
}

.category-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.4em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-bottom: 0.2em;
  padding-left: 5%;
  text-decoration: none;
}

.yellow {
  background-color: rgb(255, 192, 51);
  margin-right: 2em;
  padding-top: .5em;
  padding-bottom: .5em;
}



.category-title-box {
  position: absolute;
  top: 4em;
  width: 20em;
  height: 15em;
  text-decoration: none;
}



.category-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0;
  color: black;
  letter-spacing: 2px;
  padding-left: 5%;
  font-weight: bold;
}

.shop-button {
    border: 2px solid rgb(127,42,121);
    background-color: transparent;
    color:  rgb(127,42,121);
    margin-top: 4em;
    margin-left: 5%;


}

/*section image tags*/

#section-title{
  position: relative;
}

.section-title-box {
  position: relative;
  max-width: auto;
}

.section-title {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 5em;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 0;
  position: absolute;
  top: 20%;
  left: 30%;
}






/*not using anymore

.image-two-fifth-long {
  background-image: url(../img/placeholder.jpg);
  width: 480px;
  height: 400px;
  
}

.image-two-fifth-short {
  background-image: url(../img/placeholder.jpg);
  width: 480px;
  height: 200px;
}

.image-three-fifth-short {
  background-image: url(../img/placeholder.jpg);
  width: 715px;
  height: 200px;
}

.image-three-fifth-long {
  background-image: url(../img/placeholder.jpg);
  width: 715px;
  height: 400px;
}

.image-one-fifth-long {
  background-image: url(../img/placeholder.jpg);
  width: 235px;
  height: 400px;
}

.image-one-fifth-short {
  background-image: url(../img/placeholder.jpg);
  width: 235px;
  height: 200px;
}

.absolute-position {
  position: absolute;

}

.relative-position {
  position: relative;
}
*/







/* 
  TEXT ELEMENTS -------------------
*/

li{
  line-height: 1.5em;
  margin-bottom: 1em;
  line-height: 1em;
}

ul {
  list-style: none; 
  padding: 0;
  margin-top: 0.5em;
}

ul li { 
  padding-left: 1.3em; 
}

.selected{
  font-weight: bold;
  color: black;
}

/*
.bullets li:before {
  content: "•"; 
  padding-right: 0.7em;
  color: #7F2A79; 
}*/

ol {
  padding-left: 2.5em; 
}

.text-section{
  width: 65%;
}

/*newa article*/

/*news grid*/
.cropped-container {
  margin-left: 10%;
  margin-right: 8%;
  padding-top: 1em;
}

.news-article {
  width: 33%;
}

.news-date {
  font-size: 2em;
  margin-bottom: 0;
  text-align: center;
  }

.news-month {
  text-align: center;

}

.news-date-container {
  background-color: white;
  opacity: 0.5;
  width: 6em;
  height: 8em;
}


.news-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.3em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-top: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
  }

.news-subtitle {
      font-family: "Open Sans", sans-serif;
      padding-top: 0.2em;
      font-size: 0.7em;
      letter-spacing: 2px;
}


.news-image {
  float: left;
  opacity: 0.9;
}

.news-image:hover, .news-image:focus {
  opacity: 1;
  box-shadow: 0px 3px 5px #888888;

}

/* 
  TEXT ELEMENTS -------------------
*/

/*li{
  line-height: 1.5em;
}

ul {
  list-style: none; 
  padding: 0;
}

ul li { 
  padding-left: 1.3em; 
}

ul li:before {
  content: "•"; 
  padding-right: 0.7em;
  color: #7F2A79; 
}*/

ol {
  padding-left: 2.5em; 
}

.text-section{
  width: 65%;
}

/* 
  COMBINED ELEMENTS -------------------
*/

/*diplayed in the centre of the page, wraps*/
.main-nav {

  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;

  padding-top: 2em;

}

.checkout-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;

  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;

  padding-bottom: 2em;

}

.secondary-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}

.united-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;

  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}


/*product listing/////////*/
.item-listing{
    width: 20%;
    border-radius: 5px;
    background: #f2f2f2;
}

.item-listing img{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%
}

/*.item-listing p{
  margin-bottom: 0;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  width: 100%;
}

.item-listing{
    width: 20%;
    border-radius: 5px;
    background: #f2f2f2;
}

.item-listing img{
    width: 90%;
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-top: 0.8em;
}

.item-info-bottom{
  text-align: center;
}

.item-info-bottom h4{
    margin-top: 0.3em;
    padding-bottom: 0;
    margin-bottom: 0.1em;
}

.item-info-bottom p{
  margin-top: 0;
  margin-bottom: 0.5em;
  padding-bottom: 1em;
  width: 100%;
}*/


/*form classes*/
.form-contact {
  /*
  display: -ms-flex; 
  display: flex;

  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  */
  display: block;

  /*border is used for testing
  border: 1px solid black; */
  max-width: 100%;
  padding: 1em;
  margin-top: 0;

}

.form-contact-button {
  max-width: 10em;
  margin-top: 2em;
}


/*full bleed background image */
.full-bleed-image-container {
  position: relative;
  background-image: url(../img/succulent-lineup-darkened.png);
  background-position: center;
}

.full-bleed-bar {
  position: relative;
  background-color: rgb(127,42,121);
  background-position: center;
}

.title-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.title-image-text {
  position: absolute;
  text-align: center;
  font-size: 5em;
  color: white;
  text-align: center;
  position: relative;
}







/*COLORS-----------------------
purple rgb(127,42,121)

oramge rgb(255, 192, 51) 
*/


.right {
  float: right;
  font-size: 1.5em;
}

.left{
  float: left;
}

.medium-text{
  font-size: 1em;
}

.small-text{
  font-size: 0.9em;
}

@media only screen and (max-width: 50em) {


  .filter-nav {
  float: left;
  margin-bottom: 0;
  }


  .filter-nav-first{
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  }

  li{
    float: left;
    margin-bottom: 1em;
    line-height: 1em;
    font-size: 0.9em;
  }

  ul {
    float: left;
    list-style: none; 
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  ul li { 
    padding-left: 0.5em; 
  }
}
