/*
  STYLE GUIDE STYLING 
  Default styling for the style guide 
*/
body {
  font-family: "Open Sans", sans-serif;
}

footer {
  padding: 1em;
}

section:not([id]) {
  margin: 1em 0;
  padding: 0.5em 0;
  border-top: 1px solid #333;
}

/*daria*/
/*
section.main-page {
  padding-top: 1em;
} */

/*daria*/
section.main-page-full-bleed {
  padding-top: 1em;
  } 

section.section-image {
  padding-top: 1em;
  padding-bottom: 1em;
  max-width: 100%;
  } 

section.section-image img {
  max-width: 100%;
} 

/*modifying the color of default links*/
a {
  color: black;
}


.style-guide{
  text-align: center;
  padding: 0.25rem 0.5em;
}

section code {
  background-color: #EEE;
  padding: 0.5em 0.75em;
}


p {
  font-size: 0.9em;
  line-height: 1.5em;
  text-align: left;
  margin-bottom: 1.6em;
}

em {
    font-size: 1em;
    color: black;
}

h1{
  font-size: 2.3em;
}

h2{
  font-size: 1.6em;
}

h3{
  font-size: 1.2em;
  margin-bottom: 0em;
  padding-bottom: 0em;
}

/*daria*/
.white-text {
  color: white;
}

/*Isabel*/
/*daria*/
.centered-element{
  text-align: center;
}


/*table properties*/
table, td, th {
  border-bottom: 0.5px dashed grey;

}

table {
    border-collapse: collapse;
    border-right: 0.5px solid grey; 

}

th {
  font-size: 0.7em;
  color: grey;
  text-align: left;
  letter-spacing: 1px;
  padding: 1em;
}

th.action-button-left {
  padding-right: 0.2em;
  padding-left: 0.2em;
  font-size: 1em;
  text-align: left;
  width: 4em;
}

th.action-button-right {
  padding-right: 0.2em;
  padding-left: 0.2em;
  font-size: 1em;
  text-align: right;
  width: 5em;
}


td {
  font-size: 1em;
  padding: 0.6em;
  vertical-align: top;
  text-align: left;
}

/*daria*/
.full-table{
  width: 80%;
  margin-bottom: 3em;
}

/*daria*/
.contact-table {
  border-collapse: collapse;
  border: none;
  width: 90%;
  color: white;
  padding-right: 5em;
  padding-bottom: 2em;
  margin-top: 1em;
  margin-left: 5em;
}

/*daria*/
td.title {
  border: none;
  font-size: 0.9em;
  opacity: 0.8;
}

/*daria*/
td.data {
  border: none;
  font-size: 0.9em;

}

/*daria*/
.contact-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 0.4em;
  padding-bottom: 2em;
}

/*cart table*/
/*daria*/
.cart-image {
  width: 100%;
}

/*daria*/
.cart-header {
  width: 100%;
  margin-bottom: 3em;
}

/*daria*/
.cart-price {
  font-size: 1em;
  font-weight: bold;
}

/*daria*/
.table-button-left {
  padding-top:0;
  padding-bottom: 1em;
  text-align: left;
}

/*Isabel*/
.filter-header{
  font-size: 1.6em;
  margin-top: 1em;
  margin-right: 3em;
  padding-bottom: 0em;
}

/*daria*/
.table-button-right {
  padding-top:0;
  padding-bottom: 1em;
  text-align: right;
}

/*daria*/
.checkout-header {
  width: 100%;
  border-bottom: 1px solid transparent;
  border-right: 0.5px solid transparent; 

}

/*daria*/
.checkout-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  padding-left: 0.4em;
  padding-bottom: 2em;
}

/*daria*/
.checkout-line {
  font-size: 0.7em;
  color: grey;
  text-align: left;
  letter-spacing: 1px;
  border-bottom: 1px solid transparent;
  border-right: 0.5px solid transparent;
}

/*daria*/
.right-alignment {
  float: right;
}

/*daria*/
.checkout-price {
  font-size: 0.7em;
  color: black;
  text-align: left;
  letter-spacing: 1px;
  font-weight: bold;
  border-bottom: 1px solid transparent;
  padding-bottom: 2em;
}

/*Isabel*/
.item-name{
  margin-top: 0.7em;
  line-height: 0.5em;
  font-size: 1em;
  margin-bottom: 1.1em;
}

/*Isabel*/
.price-number{
  line-height: 0.4em;
  font-size: 0.9em;
  margin-bottom: 1em;
  color: rgb(127,42,121);
}

/*Isabel*/
.latin-name{
  margin: 0;
  margin-bottom: 0.5em;
  font-size: 0.85em;
  color: #666666;
}

/*Isabel*/
#product-listing{
  float: left;
  margin-top: 1em;
  margin-bottom: 2em;
  padding-bottom: 2em;
}

/*Isabel*/
.product-image{
  float: left;
  margin-left: 0;
  margin-right: 2em;
  margin-bottom: 0;
}

/*Isabel*/
.margin-left{
  margin-left: 0.5em;
}

/*Suggeted Products//////////////////*/

/*Isabel*/
.suggested-products {
  clear: left;
  margin-top: 2em;
  border-top: solid 1px black;
  border-bottom: solid 1px black;
  margin-right: 2em;
  margin-bottom: 1em;
  text-align: left;
  padding-bottom: 1em;
}

/*Isabel*/
.suggested-products img{
  margin-right: 0.8em;

}

/*Isabel*/
.suggested-products img:hover, .suggested-products img:focus{
  opacity: 0.75;
}

/*//////////////////////////////////*/


/* 
  INTERACTIVE ELEMENTS -------------------
*/


/*styling for main menu buttons*/
.menu-button {
  font-family: 'Open Sans', sans-serif;  
  display: inline-block;
  color: white;
  font-size: 0.6em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 1em;
  padding: 0 0.5em 0 0.5em;
  font-weight: normal;
  letter-spacing: 1px;
}


/* Styling for the navigation button */
/*Isabel*/
/*daria*/
.button-nav {
  display: inline-block;
  font-size: 0.8em;
  background-color: white;
  letter-spacing: 1px;
  color: rgb(76, 73, 87);
  padding: 0 0.5em 0 0.5em;
  margin-right: 1em;
  border-bottom: 3px solid white;
  border-radius: 3px;
  text-decoration: none;
  text-transform: uppercase;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*orange underline appears*/
/*Isabel*/
/*daria*/
.button-nav:hover, .button-nav:focus {
  border-bottom: 3px solid rgb(255, 192, 51);
  border-radius: 3px;
}

/*Isabel*/
.button-nav-selected{
  padding-top: 0em;
  color: black;
  font-weight: bold;

  border-bottom: 3px solid rgb(255, 192, 51);
  border-radius: 3px;
}

/*Isabel*/
.filter-nav {
  padding-left: 0;
  margin-top: 1em;
  margin-bottom: 0.8em;
}

/*Isabel*/
.filter-nav-first{
  padding-left: 0;
  margin-top: 0.3em;
  padding-top: 0em;
}

.filter-nav .button-nav{
  margin-top: 0.8em;
}

.filter-nav ul{
  padding-top: 0;
  margin-bottom: 0.3em;
}

.filter-nav li{
  padding-top:0;
  margin-bottom:0.3em;
}

/*daria*/
.edit-button {
  color: grey;
  font-size: 0.7em;
  letter-spacing: 1px;
}

/*daria*/
.checkout-nav-button {
  font-size: 1.2em;
  margin-right: 0;
  margin-left: 0;
  padding-right: 0;
  margin-top: 1em;
}

/*daria*/
.active {
  color: black;
  font-weight: bold;
  border-bottom: 3px solid rgb(255, 192, 51);
  border-radius: 3px;
}

/*Isabel*/
.button-nav-add-to-cart{
  margin-top: 1.1em;
}

/*in-text link*/
/*Isabel*/
/*daria*/
.in-text-link {
  color: #000;
  text-decoration: none;
  border-bottom: 1px solid rgb(255, 192, 51);
}
/*Isabel*/
.in-text-link:hover, .in-text-link:focus{
  font-weight: bold;
}


/*submit button*/
/*Isabel*/
.button-submit {
  display: inline-block;
  border: 2px solid rgb(76, 73, 87);
  background-color: white;
  color: rgb(76, 73, 87);
  padding: 0.25rem 1em;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}

/*changing the border radius on hover*/
/*Isabel*/
.button-submit:hover, .button-submit:focus {
  border-radius: 15px;
}

/*daria*/
.button-checkout{
  display: block;
  border: 2px solid rgb(127,42,121);
  background-color: rgb(127,42,121);
  color: white;
  padding: 0.25rem 1em;
  max-width: 100%;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}

/*daria*/
.button-checkout:hover, .button-checkout:focus {
  border-radius: 15px;
}

/*alternative submit button*/
/*daria*/
.button-submit-alt {
  display: inline-block;
  font-weight: normal;
  border: 2px solid white;
  background-color: rgb(127,42,121);
  color: white;
  padding: 0.25rem 1em;
  font-size: 0.8em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

/*daria*/
.button-submit-alt:hover, .button-submit:focus {
  border-radius: 15px;

}

/*clickable icon*/
/*daria*/
.icon-button {
  width: 9em;
  height: auto;
  padding-right: 2em;
  padding-left: 1em;
  padding-top: .5em;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;

}

/*daria*/
.icon-button:hover, .icon-button:focus {
  padding-right: 1.8em;
  
}

/*section separator element*/

/*daria*

/*section title*/
.section-title {
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 1em;
  letter-spacing: 1px;
  padding: 0;
  margin: 0;
  color: rgb(127,42,121);
  text-transform: lowercase;
  font-weight: bold;
  margin-top: -.5em;
}

/*daria*/
.intro {
  text-align: center;
  padding-bottom: 1em;

}

/*daria*/
.logo {
  width: 5em;
  margin-left: auto;
  margin-right: auto;
}


/*daria*/
.logo-central {
  width: 20.5em;
  margin-left: auto;
  margin-right: auto;
  padding-top: 2em;
  padding-bottom: .2em;
}




/*daria*/
.tagline {
  color: rgb(127,42,121);
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding-left: 4.8em;
  line-height: 1.2em;
  vertical-align: top;
  font-weight: bold;


}
/*daria*/
.intro:after {
  content: "";
  display: block;
  clear:both;
}

/*daria*/
/*labels and inputs*/
.form-label-field-basic {
  color: transparent;
  left: -99999px;
  position: absolute;
}

/*daria*/
.form-input-field-basic {
  border-radius: 20px;
  border: 1px solid rgb(76, 73, 87);
  font-size: 0.9em;
  padding: 0.3em 0 0.3em 0.7em;
  margin-top: 1em;
  width: 100%;
  margin-bottom: 1em;
}

/*daria*/
.form-label-field-full {
  font-size: 0.7em;
  padding-right: .2em;
  padding-bottom: .2em;
  text-align: left;
}

/*daria*/
.form-input-field-full {
  border: 1px solid rgb(76, 73, 87);
  font-size: 0.9em;
  padding: 0.3em 0 0.3em 0.7em;
  width: 100%;
  margin-bottom: 1em;
}

/*daria*/
.form-input-field-extended {
  border: 1px solid rgb(76, 73, 87);
  font-size: 0.9em;
  margin-bottom: 1em;
  padding: 0.3em 0 0.3em 0.5em;
  width: 100%;
  height: 7em;
  text-align: left;
  vertical-align: text-top;
  cursor: auto;
}

/*daria*/
textarea {
    border: 1px solid rgb(76, 73, 87);
}

/*Isabel*/
.form-input-quantity{
  margin: 0;
  float: left;
  margin-right: 2em;
  padding: 0;
}

.form-input-quantity input{
  padding-top: 0.25em;
  padding-bottom: 0.25em;
  font-size: 0.9em;
  margin-top: 1em;

}

.form-input-quantity label{
  font-size: 0.9em;
  margin-right: 0.25em;
}


/* Reviews ////////////*/

/*Isabel*/
.review{
  border-bottom: dotted 1px black;
}
/*Isabel*/
#reviews h2{
  margin-bottom: 1em;
}
/*Isabel*/
#reviews h3{
  color: rgb(127,42,121);
}
/*Isabel*/
#reviews p{
  margin-bottom: 2em;
}

/*///////////////////////

/*figure out autofill backround colour

input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
    background-color: white;
    background-image: none;
    color: black;
    letter-spacing: 1px;
}
*/


/*image category links*/
a.category {
  text-decoration: none;
}

/*daria*/
.relative-positioning{
  position: relative;
}

/*daria*/
.category-image {
  width: 100%;

}

/*daria*/
.category-title-box {
  position: absolute;
  bottom: 5em;
  left: 1em;
  width: 16em;
  height: 6em;
  text-decoration: none;
}

/*daria*/
.category-title-box-mini {
  position: absolute;
  bottom: 4em;
  left: 1em;
  width: 16em;
  height: 5em;
  text-decoration: none;
}

/*daria*/
.category-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bold;
  text-decoration: none;
  text-align: left;
}


/*daria*/
.category-subtitle {
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  color: black;
  letter-spacing: 2px;
  font-weight: bold;
  text-align: left;
  margin: 0;
  padding-bottom: 2em;
}


.category-white-text {
  color: white;
}

.shop-button {
  border: 2px solid rgb(127,42,121) ;
  background-color: transparent;
  color:  rgb(127,42,121);
  display: block;
  padding: 0.2rem 1em;
  font-size: 0.8em;
  width: 5em;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 1px;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;

}

.shop-button:hover, .shop-button:focus {
  color: white;
  border-radius: 15px;
  background-color: rgb(127,42,121);
}


.shop-button-alt {
  border: 2px solid white;
  background-color: transparent;
  color:  white;
}


.shop-button-alt:hover, .shop-button-alt:focus {
  background-color: transparent;
  border-radius: 15px;
}


/*not using anymore

.image-two-fifth-long {
  background-image: url(../img/placeholder.jpg);
  width: 480px;
  height: 400px;
  
}

.image-two-fifth-short {
  background-image: url(../img/placeholder.jpg);
  width: 480px;
  height: 200px;
}

.image-three-fifth-short {
  background-image: url(../img/placeholder.jpg);
  width: 715px;
  height: 200px;
}

.image-three-fifth-long {
  background-image: url(../img/placeholder.jpg);
  width: 715px;
  height: 400px;
}

.image-one-fifth-long {
  background-image: url(../img/placeholder.jpg);
  width: 235px;
  height: 400px;
}

.image-one-fifth-short {
  background-image: url(../img/placeholder.jpg);
  width: 235px;
  height: 200px;
}

.absolute-position {
  position: absolute;

}

.relative-position {
  position: relative;
}
*/


/* 
  TEXT ELEMENTS -------------------
*/

li{
  line-height: 1.4em;
}

ul {
  list-style: none; 
  padding: 0;
  font-size: 0.9em;
}

ul li { 
}

.selected{
  font-weight: bold;
  color: black;
}


ol {
  padding: 0;
  font-size: 0.9em;
  text-align: left;
  line-height: 1.4em;
}

.text-section{
  width: 65%;
}

/*news article tags and classes*/

/*news and events section*/
.news-and-events {
  padding-top: 6em;
}

/*daria*/
.news-image {
  width: 100%;

}

/*daria*/
.news-date {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 2em;
  color: white;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: bolder;
  margin-bottom: 0;
  text-decoration: none;
  }

/*daria*/
.news-month {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 0.7em;
  color: white;
  letter-spacing: 2px;
  font-weight: bold;
  margin: 0;
}

/*daria*/
.news-date-container {
  position: absolute;
  background-color: rgb(127,42,121);
  opacity: 0.9;
  top: 2.5em;
  left: 0;
  width: 6em;
  height: 8em;
  text-decoration: none;
}


/*daria*/
.news-title {
  font-family: "Open Sans", sans-serif;
  text-align: left;
  font-size: 1.2em;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: bold;
  padding-top: 0.5em;
  margin-bottom: 0;
  margin-top: 0;
  padding-left: .1em;
  text-decoration: none;
  }

/*daria*/
.news-subtitle {
      font-family: "Open Sans", sans-serif;
      padding-top: 0.2em;
      font-size: 0.7em;
      letter-spacing: 2px;
}
/*end of news article classes*/


/*about company classes*/
.about-company {
  padding-top: 5em;
  padding-bottom: 5em;
}


/* 
  TEXT ELEMENTS -------------------
*/

/* 
  COMBINED ELEMENTS -------------------
*/

/*daria*/
.main-nav {
  position: absolute;
  padding-left: 8em;

}

/*daria*/
.secondary-nav {

}

/*daria*/
.united-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: space-between;
  -ms-justify-content: space-between;
  justify-content: space-between;

  -webkit-align-items: center;
  -ms-align-items: center;
  align-items: center;
}



/*daria*/
.checkout-nav {
  display: -webkit-flex; /* For support in a series of Webkit browsers */
  display: -ms-flex; /* For support in IE 10 */
  display: flex;

  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;

  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;

  -webkit-justify-content: flex-start;
  -ms-justify-content: flex-start;
  justify-content: flex-start;

  -webkit-align-items: flex-start;
  -ms-align-items: flex-start;
  align-items: flex-start;

  padding-bottom: 2em;

}





/*classes for feedback form*/
/*daria*/

/*daria*/
.form-feedback {

  display: block;
  width: 90%;
  color: white;
  text-align: left;
  padding-top: 1em;
}

/*daria*/
.form-subtitle {
    font-family: "Open Sans", sans-serif;
    font-size: 0.7em;
    letter-spacing: 1px;
    padding: 0;
    margin: 0;
}

/*daria*/
.form-contact-button {
  max-width: 10em;
  margin-top: 2em;
}


/*full bleed background image */
/*.full-bleed-image-container {
  position: relative;
  background-image: url(../img/succulent-lineup-darkened.png);
  background-position: center;
}*/

/*daria*/
.full-bleed-bar-top {
  position: relative;
  background-color: rgb(127,42,121);
  background-position: center;
}

/*daria*/
.full-bleed-bar {
  position: relative;
  background-color: rgb(127,42,121);
  background-position: center;
  padding-top: 1em;
  padding-bottom: 2em;

}

/*.title-image {
  position: relative;
  width: 100%;
  height: 100%;
}

.title-image-text {
  position: absolute;
  text-align: center;
  font-size: 5em;
  color: white;
  text-align: center;
  position: relative;
}*/



/*COLORS-----------------------
purple rgb(127,42,121)

oramge rgb(255, 192, 51) 
*/

/*Isabel*/
.medium-text{
  font-size: 1em;
}
/*Isabel*/
.small-text{
  font-size: 0.9em;
}

@media only screen and (max-width: 50em) {


  .filter-nav {
  float: left;
  margin-bottom: 0;
  }


  .filter-nav-first{
  float: left;
  margin-bottom: 0;
  margin-left: 0;
  }

  ul {
    float: left;
    list-style: none; 
    padding: 0;
    margin-top: 0.5em;
    margin-bottom: 0;
  }

  ul li { 
    padding-left: 0.5em; 
  }
}



