*, *::after, *::before {
	box-sizing: border-box;
}

/*Isabel*/
.item-listing-box{
	margin-top: 2em;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	align-items: center;
  	justify-content: center;
}

/*Isabel*/
.item-listing-unit{
	position: relative;
	margin-bottom: 2em;
	margin-left: 2em;
}
/*Isabel*/
.item-listing-unit img:hover, .item-listing-unit img:focus{
	/*box-shadow: 0px 5px 5px #888888;*/
	opacity: 0.75;
}

.cart-text-flex{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
}










